<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inventory.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <title>Ultimate Inventory</title>
</head>

<body class="background">
    <main class="main">
        {% include "header.html" %}
        <div class="container">
            <nav class="frame categories">
                {% if session["user_id"] %}
                <button class="new new-category">New</button>
                {% endif %}

                {% if session["user_id"] %}
                <form id="ctgry-form" class="form hidden" action="{{ url_for('add_category', inv_name=inv_name) }}" method="POST">
                    <div>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <label for="ctgry-name-input">Title:</label>
                        <br>
                        <input id="ctgry-name-input" type="text" name="name" width=31 required>
                        <br>
                        <div class="spread-apart">
                            <button type="submit">OK</button>
                            <button class="cancel-ctgry" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
                {% endif %}

                {% for c in categories %}
                <dt class="frame spread-apart">
                    <a href="{{ url_for('show_category', inv_name=inv_name, category_id=c.id) }}">
                        <h3>{{c.name}}</h3>
                    </a>
                    {% if session["user_id"] and c.user_id == session["user_id"] %}
                    <span>
                        <div class="edit-ctgry" nbr="{{ c.id }}"><i class="fas fa-pencil-alt"></i></div>
                        <div class="delete-ctgry" nbr="{{ c.id }}"><i class="fas fa-trash"></i></div>
                    </span>
                    {% endif %}
                </dt>
                {% endfor %}
            </nav>
            <nav class="frame items">
                {% if session["user_id"] and category_id %}
                <button class="new new-item">New</button>
                {% endif %}

                {% for i in items %}
                <a href="{{ url_for('show_item_details', inv_name=inv_name, category_id=category_id, item_id=i.id) }}">
                    <dt class="frame item" nbr="{{ i.id }}">{{i.name}}</dt>
                </a> 
                {% endfor %}
            </nav>

            <article class="description">

                {% if item %}
                <div class="frame item-description">
                    <span>
                        <img id="icon" src="{{ url_for('static', filename='img/{}/{}'.format(inv_name, item.image)) }}">
                    </span>

                    <span>
                        <h3 id="name-title">{{ item.name }}</h3>
                        <p id="description-text">{{ item.description }}</p>
                    </span>

                    <span class="button-panel">
                        {% if item.user_id == session["user_id"] %}
                        <button type="button" class="edit-item">Edit</button>
                        <button type="button" class="delete-item">Delete</button>
                        {% endif %}
                        <button type="button" class="equip-item">Equip</button>
                    </span>

                </div>
                {% endif %}

                {% if session["user_id"] and category_id %}
                <form id="add-item-form" class="frame hidden" action="{{ url_for('add_item', inv_name=inv_name, category_id=category_id) }}" method="POST">
                    <div class="form">
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <label for="add-image-input">Image-URL:</label>
                        <br>
                        <input id="add-image-input" size="32" type="text" name="image" required>
                        <br>
                        <label for="add-item-name-input">Title:</label>
                        <br>
                        <input id="add-name-input" size="32" type="text" name="name" required>
                        <br>
                        <label for="add-description-input">Description:</label>
                        <br>
                        <textarea id="add-description-input" rows="8" cols="30" name="description" required></textarea>
                        <br>
                        <div class="spread-apart">
                            <button type="submit" form="add-item-form">Add</button>
                            <button class="cancel-item" type="button">Cancel</button>
                        </div>
                    </div>
                </form>

                {% if item and category_id %}
                <form id="edit-item-form" class="frame hidden" action="{{ url_for('edit_item', inv_name=inv_name, category_id=category_id, item_id=item.id) }}" method="POST">
                    <div class="form">
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">                        
                        <label for="image-input">Image-URL:</label>
                        <br>
                        <input id="edit-image-input" size="32" type="text" name="image" value="{{ item.image }}" disabled>
                        <br>
                        <label for="item-name-input">Title:</label>
                        <br>
                        <input id="edit-item-name-input" size="32" type="text" name="name" value="{{ item.name }}" required>
                        <br>
                        <label for="description-input">Description:</label>
                        <br>
                        <textarea id="edit-description-input" rows="8" cols="30" name="description" required>{{ item.description }}</textarea>
                        <br>
                        <div class="spread-apart">
                            <button type="submit" form="edit-item-form">Edit</button>
                            <button class="cancel-item" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% endif %}
            </article>

        </div>
    </main>

    <script>
        var categoryCRUDbasePath = "/inventory/{{inv_name}}/category/";

        var $categoryForm = {
            self: $('#ctgry-form'),
            inputs: {
                name: $('#ctgry-name-input')
            },
            prepareEdit: function(id) {
                this.self.attr('action', categoryCRUDbasePath + id + '/edit');
            },
            prepareAdd: function() {
                this.self.attr('action', categoryCRUDbasePath + "new");
            },
            show: function() {this.self.removeClass('hidden');},
            hide: function() {this.self.addClass('hidden');}
        };

        $('.cancel-ctgry').click(function () {
            $categoryForm.hide();
        });

        $('.new-category').click(function () {
            var $form = $categoryForm;
            $form.show();
            $form.prepareAdd();
        });

        $('.edit-ctgry').click(function () {
            var id = this.getAttribute("nbr");
            var $form = $categoryForm;
            $form.show();
            $form.prepareEdit(id);
        });

        $('.delete-ctgry').click(function () {
            var id = this.getAttribute("nbr");
            if (confirm("Are you sure that you want to delete this category?")){
                $.post(
                    categoryCRUDbasePath + id + "/delete",
                    {_csrf_token: "{{ csrf_token() }}" },
                    function(response) {
                        window.location = response;
                    }
                );
            }
        });


    </script>

    {% if category_id %}
    <script>

        var $addItemForm = {
            self: $('#add-item-form'),
            showForm: function() {this.self.removeClass('hidden');},
            hideForm: function() {this.self.addClass('hidden');}
        };

        var $editItemForm = {
            self: $('#edit-item-form'),
            showForm: function() {this.self.removeClass('hidden');},
            hideForm: function() {this.self.addClass('hidden');}
        };

        $(".new-item").click(function(){
            $editItemForm.hideForm();
            $addItemForm.showForm();
        });

        $(".edit-item").click(function(){
            $addItemForm.hideForm();
            $editItemForm.showForm();
        });

        $(".cancel-item").click(function(){
            $addItemForm.hideForm();
            $editItemForm.hideForm();
        });  

    </script>
    {% endif %}

    {% if item %}
    <script>
        var equipURL = "{{ url_for('equip_item', inv_name=inv_name, category_id=category_id, item_id=item.id) }}";
        var deleteURL = "{{ url_for('delete_item', inv_name=inv_name, category_id=category_id, item_id=item.id) }}";
    
        $(".equip-item").click(function(){
            $.post(
                equipURL,
                {_csrf_token: "{{ csrf_token() }}" },
                function(response) {
                    window.location = "/";
                }
            );
        });  

        $(".delete-item").click(function(){
            if (confirm("Are you sure that you want to delete this item?")){
                $.post(
                    deleteURL,
                    {_csrf_token: "{{ csrf_token() }}" },
                    function(response) {
                        window.location = response;
                    }
                );
            }
        });  
    </script>
    {% endif %}
</body>

</html>