<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Ultimate Inventory</title>
</head>

<body class="background">

    <main class="main">
        {% include "header.html" %}
        <div class="container">
            <div class="frame character">
                <div class="button-panel">
                    {% if skin_id and authenticated %}
                    <button class="delete">Delete</button>
                    {% elif not skin_id %}
                    <button class="new">Save Current</button>
                    {% endif %}
                </div>
                <a class="frame head" title="{{ character['head']['description'] }}" href="/inventory/head/">
                    <h3>Head</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/head/' + character['head']['image']) }}">
                </a>
                <a class="frame torso" title="{{ character['torso']['description'] }}" href="/inventory/torso/">
                    <h3>Torso</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/torso/' + character['torso']['image']) }}">
                </a>
                <a class="frame left-hand" title="{{ character['left_hand']['description'] }}" href="/inventory/left_hand/">
                    <h3>Left Hand</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/left_hand/' + character['left_hand']['image']) }}">
                </a>
                <a class="frame right-hand" title="{{ character['right_hand']['description'] }}" href="/inventory/right_hand/">
                    <h3>Right Hand</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/right_hand/' + character['right_hand']['image']) }}">
                </a>
                <a class="frame legs" title="{{ character['legs']['description'] }}" href="/inventory/legs/">
                    <h3>Legs</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/legs/' + character['legs']['image']) }}">
                </a>
                <a class="frame hands" title="{{ character['hands']['description'] }}" href="/inventory/hands/">
                    <h3>Hands</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/hands/' + character['hands']['image']) }}">
                </a>
                <a class="frame feet" title="{{ character['feet']['description'] }}" href="/inventory/feet/">
                    <h3>Feet</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/feet/' + character['feet']['image']) }}">
                </a>
                <a class="frame companion" title="{{ character['companion']['description'] }}" href="/inventory/companion/">
                    <h3>Companion</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/companion/' + character['companion']['image']) }}">
                </a>
            </div>
            <nav class="frame skins">
                <dl>
                    <form id="skin-form" class="form hidden" action="{{ url_for('save_skin') }}" method="POST">
                        <div>
                            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                            <label for="skin-name-input">Title:</label>
                            <br>
                            <input id="skin-name-input" type="text" name="name" width=31 required>
                            <br>
                            <div class="spread-apart">
                                <button type="submit">OK</button>
                                <button class="cancel-skin" type="button">Cancel</button>
                            </div>
                        </div>
                    </form>
                    {% for s in skins %}
                    <dt class="frame">
                        <a href="{{ url_for('open_skin', skin_id=s.id) }}">{{s.title}}</a>
                    </dt>
                    {% endfor %}
                </dl>
            </nav>
        </div>
    </main>
    <script>

        var $skinForm = {
            self: $('#skin-form'),
            show: function() {this.self.removeClass('hidden')},
            hide: function() {this.self.addClass('hidden')}
        };

        $(".new").click( function() {
            $skinForm.show()
        });

        $(".cancel-skin").click( function() {
            $skinForm.hide()
        })

    </script>

    {% if skin_id %}
    <script>
        $(".delete").click(function() {
            if (confirm("Are you sure that you want to delete this skin?")) {
                $.post(
                    "{{ url_for('delete_skin', skin_id=skin_id) }}",
                    {_csrf_token: "{{ csrf_token() }}" },
                    function(response) {
                        window.location = "/";
                    }
                );
            }
        });
    </script>
    {% endif %}

</body>

</html>