<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Ultimate Inventory</title>
</head>

<body class="background">

    <main class="main">
        {% include "header.html" %}
        <div class="container">
            <div class="frame character">
                <a class="frame head" href="/inventory/head/">
                    <p>Head</p>
                    <img class="body-part" src="../static/img/head/{{ images['head'] }}">
                </a>
                <a class="frame torso" href="/inventory/torso/">
                    <p>Torso</p>
                    <img class="body-part" src="../static/img/torso/{{ images['torso'] }}">
                </a>
                <a class="frame left-hand"href="/inventory/left_hand/">
                    <p>Laft Hand</p>
                    <img class="body-part" src="../static/img/left-hand/{{ images['left_hand'] }}">
                </a>
                <a class="frame right-hand" href="/inventory/right_hand/">
                    <p>Right Hand</p>
                    <img class="body-part" src="../static/img/right-hand/{{ images['right_hand'] }}">
                </a>
                <a class="frame legs" href="/inventory/legs/">
                    <p>Legs</p>
                    <img class="body-part" src="../static/img/legs/{{ images['legs'] }}">
                </a>
                <a class="frame hands" href="/inventory/hands/">
                    <p>Hands</p>
                    <img class="body-part" src="../static/img/hands/{{ images['hands'] }}">
                </a>
                <a class="frame feet" href="/inventory/feet/">
                    <p>Feet</p>
                    <img class="body-part" src="../static/img/feet/{{ images['feet'] }}">
                </a>
                <a class="frame companion" href="/inventory/companion/">
                    <p>Companion</p>
                    <img class="body-part" src="../static/img/companion/{{ images['companion'] }}">
                </a>
            </div>
            <nav class="frame skins">
                <dl>
                    {% for s in skins %}
                    <dt class="frame">
                        <a href="/inventory/?skin={{ s.id }}">{{s.title}}</a>
                    </dt>
                    {% endfor %}
                </dl>
            </nav>
        </div>
    </main>
</body>

</html>