<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Ultimate Inventory</title>
</head>

<body class="background">

    <main class="main">
        {% include "header.html" %}
        <div class="container">
            <div class="frame character">
                <a class="frame head" href="/inventory/head/">
                    <h3>Head</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/head/' + session['head']['image']) }}">
                </a>
                <a class="frame torso" href="/inventory/torso/">
                    <h3>Torso</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/torso/' + session['torso']['image']) }}">
                </a>
                <a class="frame left-hand"href="/inventory/left_hand/">
                    <h3>Left Hand</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/left_hand/' + session['left_hand']['image']) }}">
                </a>
                <a class="frame right-hand" href="/inventory/right_hand/">
                    <h3>Right Hand</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/right_hand/' + session['right_hand']['image']) }}">
                </a>
                <a class="frame legs" href="/inventory/legs/">
                    <h3>Legs</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/legs/' + session['legs']['image']) }}">
                </a>
                <a class="frame hands" href="/inventory/hands/">
                    <h3>Hands</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/hands/' + session['hands']['image']) }}">
                </a>
                <a class="frame feet" href="/inventory/feet/">
                    <h3>Feet</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/feet/' + session['feet']['image']) }}">
                </a>
                <a class="frame companion" href="/inventory/companion/">
                    <h3>Companion</h3>
                    <img class="body-part" src="{{ url_for('static', filename='img/companion/' + session['companion']['image']) }}">
                </a>
            </div>
            <nav class="frame skins">
                <dl>
                    {% for s in skins %}
                    <dt class="frame">
                        <a href="{{ url_for('open_skin', skin_id=s.id) }}">{{s.title}}</a>
                    </dt>
                    {% endfor %}
                </dl>
            </nav>
        </div>
    </main>
</body>

</html>